.jsdialogs-button {
	cursor: pointer;
	background: gray;
	padding: 5px;
	margin: 10px;
	display: inline-block;
}

.jsdialogs-button:hover {
	cursor: pointer;
	background-color: #82bde5;
	color: #000;
}

.jsdialogs-modal-overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(128, 128, 128, 0.4);;
}

.jsdialogs-modal-message {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 50%;
	height: 50%;
	margin: auto;
	background-color: lightgray;
	border: 1px solid;
	text-align: left;
}